.article-container {
  color: black;
  position: absolute;
  left: 170px;
  width: 82%;
  height:100%;
  margin: 10px 10px;
}

.article-title {
  font-weight: bold !important;
  letter-spacing: normal;
  margin: 0 0 16px;
}

.article-row {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}


.nav-right {
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;
}
