<!-- main app container -->
<div class="app-container">
  <!-- <alert></alert> -->

  <div>
    <mat-sidenav-container class="example-container">
      <mat-sidenav #snav mode="side" opened>Section

        <mat-nav-list>
          <sidenav></sidenav>
          <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>Main content
        <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
        <article></article>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
</div>

<div class="text-center mt-4">

</div>
